.weight-wrapper{
  width: 15%;

  .top-weight-wrapper {
    width: 100%;
    height: 10%;
    border: solid hotpink 3px;
    background-color: green;
    display: flex;
    justify-content: center;
    
    p {
      color: hotpink;
    }
  }
  
  .bottom-weight-wrapper {
    width: 100%;
    height: 90%;
    background-color: green;
    border: solid hotpink 3px;

    .all-students {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100px;
      width: 100px;
      
      button {
        background-color: hotpink;
        margin: 0px 3px;
        
        &:nth-child(2) {
          background-color: lightgreen;
          margin: 0px 3px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
